In [ ]:
#1 ID 9618
# SELECT 
#     DISTINCT neighbourhood
# FROM airbnb_search_details
# WHERE
#     city = 'LA'

In [ ]:

# result = airbnb_search_details[airbnb_search_details['city'] =='LA'] /
# .drop_duplicates(['neighbourhood'])[['neighbourhood']]

In [ ]:
# import pyspark.sql.functions as F
# result = airbnb_search_details.filter(F.col('city') == 'LA').dropDuplicates(['neighbourhood']) /
# .select('neighbourhood').toPandas()

In [ ]:
#-----------

In [ ]:
# 2 ID 9867
# SELECT DISTINCT salary 
# FROM worker
# ORDER BY salary ASC
# LIMIT 3

In [ ]:
# salaries = worker[['salary']].drop_duplicates()
# result = salaries.nsmallest(3,'salary')[['salary']]

In [ ]:
# salaries = worker.select('salary').distinct()
# result = salaries.orderBy('salary').limit(3).toPandas()
# result